@import 'utilities.css';
:root {
  --primary: rgb(29, 221, 189);
  --bgDark: rgb(12, 12, 12);
  --white: rgb(250, 250, 250);
  --secondary: rgb(0, 59, 50);
  --bgLight: rgb(190, 181, 181);
  --gborange: rgb(236, 126, 16);
}

/* STYLING THE NAVIGATION MENU OF THE PORTFOLIO WEBSITE STARTS HERE  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header {
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 93%, 0 100%);
}
.left img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.container {
    display: flex;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-bottom: 5rem;
}
.middle {
    font-size: 1.5rem;
    padding-left: 5rem;
}
.middle a {
    color: white;
    text-decoration: none;
    padding: 1.8rem;
}
.right {
    font-size: 2.0rem;
    color: var(--white);
    padding-left: 8rem;
}
.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.2rem 1.5rem;
    border-radius: 5%;
    outline: 0;
    border:none;
}
.middle a:hover {
    background: transparent;
    color: var(--secondary);
    text-decoration: underline;
    font-size: 1.5.rem;
    text-transform: uppercase;
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.primary-btn:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
/* STYLING THE NAVIGATION MENU OF THE PORTFOLIO WEBSITE ENDS HERE */

/* STYLING THE BANNER SECTION OF THE PROJECT STARTS HERE  */
.holder {
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
    padding-right: 5rem;
}
.logo img {
    height: 600px;
    width: 400px;
    border-radius: 10%;
}
.middle_holder {
    font-size: 1.5rem;
    color: var(--white);
    padding-left: 8rem;
    line-height: 2.9rem;
    padding-right: 5rem;
}
.middle_holder h6 {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.middle_holder h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.middle_holder h1 span {
    color: var(--primary);
}
.middle_holder p {
    line-height: 2.3rem;
    margin-bottom: 0.8rem;
    text-align: justify;
}
.middle_holder p span {
    color: var(--primary);
    text-decoration: underline;
    line-height: 1.2rem;
    padding-top: 6rem;
    text-transform: capitalize;
}
.secondary-btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
    background-color: var(--primary);
}
.secondary-btn:hover {
  background: var(--primary);
  color: var(--white);
  border-radius: 10%;
}
/* STYLING THE BANNER SECTION OF THE PROJECT ENDS HERE  */

/* STYLING THE ABOUT SECTION OF THE PROJECT  */
.about {
    padding-left: 8rem;
    padding-bottom: 10rem;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 3.0rem;
  font-weight: 600;
  color: var(--secondary);
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--gborange);
}
section.about p {
  font-family:'Times New Roman', Times, serif;
  color: var(--bgDark);
  line-height: 2rem;
  margin-bottom: 2rem;
}
.section-container {
    display: flex;
    justify-content: center;
}
.about-right {
    font-size: 2.0rem;
    color: var(--white);
    padding-left: 10rem;
    padding-top: 5rem;
    text-align: justify;
    padding-right: 10rem;
}
.image-logo {
    padding-top: 2rem;
}
.image-logo img {
    height: 500px;
    width: 400px;
    border-radius: 20%;
}
.socials a img {
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 0.8rem;
    border-radius: 50%;
}
.socials a:hover {
  align-items: center;
  padding: 0.2rem;
  transform: scale(0.2rem);
  
}
/* STYLING THE ABOUT SECTION DONE  */

/* STYLING THE SERVICE SECTION STARTS HERE  */
 /* Media Query for Mobile Devices */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
            .middle {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .middle a {
                margin: 5px 0;
            }
            .holder {
                flex-direction: column;
                padding: 20px;
            }
            .about {
                flex-direction: column;
                padding: 20px;
            }
            .about-right {
                text-align: center;
            }
        }